@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;

  /* BRAND COLOR */
  --brand-primary: #FF6669;
  --brand-secondary: #FF9B9D;
  --brand-tertiary: #FFEDEE;

  /* BLACK */
  --black-default: #111111;
  --black-secondary: #505050;
  --black-tertiary: #767676;
  --black-disabled: #999999;

  /* GRAY */
  --gray-300: #DDDDDD;
  --gray-200: #F2F2F2;
  --gray-100: #F7F7F7;
  --gray-white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", system-ui, -apple-system, sans-serif;
}

/* Typography 유틸리티 */
.text-head-1 {
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 600; /* Semi Bold */
}

.text-head-2 {
  font-size: 26px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 600; /* Semi Bold */
}

.text-head-3 {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 400; /* Regular */
}

.text-head-4 {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 800; /* Extra Bold */
}

.text-head-5 {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 600; /* Semi Bold */
}

.text-body-1 {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 400; /* Regular */
}

.text-body-2 {
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 600; /* Semi Bold */
}

.text-body-3 {
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 400; /* Regular */
}
