@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* 디자인 토큰(초기안) - 추후 디자인 확정 시 교체 */
  --brand: #f21f57;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
